body{
    max-width: 100% !important;
    overflow-x: hidden !important;
    margin: unset;
    font-family: "Source Sans Pro", sans-serif;
    background-image:url(https://www.roc21.com/blog/wp-content/uploads/2012/09/fondos-para-pa%CC%81ginas-web-6.jpg);

}

.contenedorCartaPrincipal{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.cartaPrincipal{
    height: 40%;
    width: 50%;
    background-color:#37404b4f;
    border-radius: 15px;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.contenedorClave{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
   
}
.contenedorBotones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenedorLongitud{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    flex-direction: column; 
}

.inputLongitud{
    font-size:30px;
    text-align: center;
}

.contenedorOpciones{
    text-align: center;
    display: flex;
    flex-direction: column;
}
h1{
    color: #bdbdbd;
    text-align: center;
    font-size: 50px;    
}
h2{
    font-size: 20px;
    font-weight: lighter;
    color:#bdbdbd;
}

label{
    font-size: 25px;
    font-weight: lighter;
    color: #bdbdbd;
}

button{
  color: #6c7074;
  font-size: 25px;
  background-color: #bbdefb;
  border-radius: 10px;
  height: 35px;
  width: 80px;
  border-color: #b3e5fc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

button:hover{
    background-color: #37404b4f;
}

.longitud {
    color: #6c7074;
    font-size: 20px;
    background-color: #75c0fd;
    border-radius: 5px;
    height: 45px;
    width: 250px;
    border-color: #b3e5fc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
.footer{
    font-size: smaller;
}
/* Media query para mobile */

@media (max-width: 480px) {
    .contenedorCartaPrincipal {
      display: flex;
      flex-direction: column;       
    }
    .contenedorOpciones {
        display: flex;
        flex-direction: column;
        }
    .cartaPrincipal{
      display: flex;
      align-items: center;
      align-content: center;
      background: none;
    }
    }
    h1{
        font-size: 25px;      

    }
    button, span, label, p{
        font-size: 18px;
    }
    .inputLongitud{
         font-size: 18px;
    }
     
  /* Media query para tablet   */
  @media  (min-width: 481px) and (max-width: 900px) {
    .contenedorCartaPrincipal {
      display: flex;
      flex-direction: column;
       
    }
    .contenedorOpciones {
        display: flex;
        flex-direction: column;
        
        }
    } 
    h1{
        font-size: 25px;      

    }
    button, span, label, p{
        font-size: 18px;
    }
    .inputLongitud{
         font-size: 18px;
    }